name: Publish Pull Requests
on: [push, pull_request]

jobs:
  pr-package:
    runs-on: ubuntu-latest
    steps:
      - run: corepack enable
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Publish preview package
        run: pnpx pkg-pr-new publish --no-template
